In [1]:
# Import dependencies 
import pandas as pd

In [2]:
# Set up and read schools files
school_path = "Resources/schools_complete.csv"
school_df = pd.read_csv(school_path)

student_path = "Resources/students_complete.csv"
student_df = pd.read_csv(student_path)

In [3]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [4]:
# Make a district summary table
# Total schools
a = len(school_data_complete["school_name"].unique())
a

15

In [5]:
# Total students
stud = len(school_data_complete["student_name"])
b = ("{:,}".format(stud))
b
# Code below shows the repeat names but they are different people with the same name (organized in the student_name column)
# pd.concat(g for _, g in school_data_complete.groupby("student_name") if len(g) > 1)

'39,170'

In [6]:
# Total budget
bud = school_df["budget"].sum()
c = ("${:,.2f}".format(bud))
c
#I could also groupby school name to then get rid of repeat budgets but then that woud throw off the student names column

'$24,649,428.00'

In [7]:
# Average math score
avg_math = school_data_complete["math_score"].mean()
d = round(avg_math, 1)
d

79.0

In [8]:
# Average reading score
avg_read = school_data_complete["reading_score"].mean()
e = round(avg_read,  1)
e

81.9

In [9]:
# % passing math
math_percent = (len(school_data_complete[school_data_complete.math_score >= 70])/stud)*100
f = round(math_percent, 1)
f

75.0

In [10]:
# % passing reading
read_percent = (len(school_data_complete[school_data_complete.reading_score >= 70])/stud)*100
g = round(read_percent, 1)
g

85.8

In [11]:
# % overall passing (might have to use loc, idk yet)
overall_pass = school_data_complete[(school_data_complete['math_score']>= 70) & (school_data_complete['reading_score'] >= 70)]
h = round((len(overall_pass)/stud)*100, 1)
h

65.2

In [12]:
# District summary table
district_summary_df = pd.DataFrame({"Total Schools": [a],
                           "Total Students": [b],
                           "Total Budget": [c],
                           "Average Math Score": [d],
                           "Average Reading Score": [e],
                           "% Passing Math": [f],
                            "% Passing Reading": [g],
                            "% Overall Passing": [h]})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75.0,85.8,65.2

In [75]:
# Make a school summary table
#list of the school names
name = school_data_complete["school_name"].unique()
name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [97]:
#name = school_data_complete["school_name"].unique()
#name
name_type= school_data_complete[["school_name", "type"]].drop_duplicates(subset=['school_name', 'type'])
name = name_type["school_name"].tolist()
types = name_type["type"].tolist()

In [63]:
#aggregate = using sum function on each separator
huang = print(len(school_data_complete.loc[school_data_complete['school_name'] == 'Huang High School']))
huang

2917

In [98]:
#beginning summary dataframe
school_summary_df = pd.DataFrame({"School Name": (name), #already a list so you use parentheses instead for 'name'
                                 "Type": (types)}) 
school_summary_df

              School Name      Type
0       Huang High School  District
1    Figueroa High School  District
2     Shelton High School   Charter
3   Hernandez High School  District
4     Griffin High School   Charter
5      Wilson High School   Charter
6     Cabrera High School   Charter
7      Bailey High School  District
8      Holden High School   Charter
9        Pena High School   Charter
10     Wright High School   Charter
11  Rodriguez High School  District
12    Johnson High School  District
13       Ford High School  District
14     Thomas High School   Charter