In [142]:
# Import dependencies 
import pandas as pd

In [161]:
# Set up and read schools files
school_path = "Resources/schools_complete.csv"
school_df = pd.read_csv(school_path)

student_path = "Resources/students_complete.csv"
student_df = pd.read_csv(student_path)

In [162]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

In [163]:
# Make a district summary table
# Total schools
a = len(school_data_complete["school_name"].unique())

In [164]:
# Total students
stud = len(school_data_complete["student_name"])
b = ("{:,}".format(stud))
# Code below shows the repeat names but they are different people with the same name (organized in the student_name column)
# pd.concat(g for _, g in school_data_complete.groupby("student_name") if len(g) > 1)

In [165]:
# Total budget
bud = school_df["budget"].sum()
c = ("${:,.2f}".format(bud))
#I could also groupby school name to then get rid of repeat budgets but then that woud throw off the student names column

In [166]:
# Average math score
avg_math = school_data_complete["math_score"].mean()
d = round(avg_math, 1)

In [167]:
# Average reading score
avg_read = school_data_complete["reading_score"].mean()
e = round(avg_read,  1)

In [168]:
# % passing math
math_percent = (len(school_data_complete[school_data_complete.math_score >= 70])/stud)*100
f = round(math_percent, 1)

In [169]:
# % passing reading
read_percent = (len(school_data_complete[school_data_complete.reading_score >= 70])/stud)*100
g = round(read_percent, 1)

In [170]:
# % overall passing (might have to use loc, idk yet)
overall_pass = school_data_complete[(school_data_complete['math_score']>= 70) & (school_data_complete['reading_score'] >= 70)]
h = round((len(overall_pass)/stud)*100, 1)

In [171]:
district_summary_df = pd.DataFrame({"Total Schools": [a],
                           "Total Students": [b],
                           "Total Budget": [c],
                           "Average Math Score": [d],
                           "Average Reading Score": [e],
                           "% Passing Math": [f],
                            "% Passing Reading": [g],
                            "% Overall Passing": [h]})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75.0,85.8,65.2