## PyCitySchools Challenge

In [1]:
# Import dependencies 
import pandas as pd

In [2]:
# Set up and read schools files
school_path = "Resources/schools_complete.csv"
school_df = pd.read_csv(school_path)

student_path = "Resources/students_complete.csv"
student_df = pd.read_csv(student_path)

In [3]:
# Combine the data into a single dataset.  
school_data_comp = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_complete = school_data_comp.sort_values(by = 'school_name').reset_index()
#school_data_complete

In [4]:
# Make a district summary table
# Total schools
a = len(school_data_complete["school_name"].unique())
#a

In [5]:
# Total students
stud = len(school_data_complete["student_name"])
b = ("{:,}".format(stud))
#b
# Code below shows the repeat names but they are different people with the same name (organized in the student_name column)
# pd.concat(g for _, g in school_data_complete.groupby("student_name") if len(g) > 1)

In [6]:
# Total budget
bud = school_df["budget"].sum()
c = ("${:,.2f}".format(bud))
#c
#I could also groupby school name to then get rid of repeat budgets but then that woud throw off the student names column

In [7]:
# Average math score
avg_math = school_data_complete["math_score"].mean()
d = round(avg_math, 2)
#d

In [8]:
# Average reading score
avg_read = school_data_complete["reading_score"].mean()
e = round(avg_read,  2)
#e

In [9]:
# % passing math
math_percent = (len(school_data_complete[school_data_complete.math_score >= 70])/stud)*100
f = round(math_percent, 2)
#f

In [10]:
# % passing reading
read_percent = (len(school_data_complete[school_data_complete.reading_score >= 70])/stud)*100
g = round(read_percent, 2)
#g

In [11]:
# % overall passing
overall_pass = school_data_complete[(school_data_complete['math_score']>= 70) & (school_data_complete['reading_score'] >= 70)]
h = round((len(overall_pass)/stud)*100, 2)
#h

### District Summary Table

In [12]:
# District summary table
district_summary_df = pd.DataFrame({"Total Schools": [a],
                           "Total Students": [b],
                           "Total Budget": [c],
                           "Average Math Score": [d],
                           "Average Reading Score": [e],
                           "% Passing Math": [f],
                            "% Passing Reading": [g],
                            "% Overall Passing": [h]})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

In [13]:
# Make a school summary table
#list of the school names
name = school_data_complete["school_name"].unique()
#name

In [14]:
#name = school_data_complete["school_name"].unique()
#name
name_type= school_data_complete[["school_name", "type"]].drop_duplicates()
# name = name_type["school_name"]
# types = name_type["type"]
name_type.columns = ['School Name', 'Type']
#name_type

In [15]:
#Total number of students per school
students = school_data_complete["school_name"].value_counts()
#students

In [16]:
s = pd.DataFrame(students).reset_index()
s.columns = ['School Name', 'Student Pop.']
#s

In [17]:
#beginning summary dataframe
school_summary_df = name_type.merge(s)
# school_summary_df = pd.DataFrame({"Type": (types), #already a list so you use parentheses instead for 'name' 
#                                  "Student Pop.": (students)}) 
school_sum_df = school_summary_df.sort_index()
#school_sum_df

In [18]:
school_sum_df = school_sum_df.set_index('School Name')
# school_sum_df.index.name = "School Name"
#school_sum_df

In [19]:
#adding in budget per school
budget = school_data_complete["budget"].unique()
#budget
school_sum_df["Total Budget"] = budget
#school_sum_df

In [20]:
#add budget per student to summary table
bud_per_studs = round(school_sum_df['Total Budget']/ school_sum_df['Student Pop.'], 2)
school_sum_df["Budget per Student"] = bud_per_studs
#school_sum_df

In [21]:
#add average math score per school
avg_math_student = school_data_complete.groupby(['school_name'])['math_score'].agg(lambda x: x.mean())
#avg_math_student
school_sum_df["Average Math Score"] = round(avg_math_student, 2)
#school_sum_df

In [22]:
#add average reading score per school
avg_read_student = school_data_complete.groupby(['school_name'])['reading_score'].agg(lambda x: x.mean())
school_sum_df["Average Reading Score"] = round(avg_read_student, 2)
#school_sum_df

In [23]:
# add % passing math per school
cond3 = school_data_complete[school_data_complete.math_score >= 70]
#cond3
percent_math = cond3['school_name'].value_counts()
#percent_math
school_sum_df["% Passing Math"] = round((percent_math/school_sum_df["Student Pop."])*100, 2)
#school_sum_df

In [24]:
# add % passing reading per school
cond4 = school_data_complete[school_data_complete.reading_score >= 70]
#cond4
percent_read = cond4['school_name'].value_counts()
#percent_read
school_sum_df["% Passing Reading"] = round((percent_read/school_sum_df["Student Pop."])*100, 2)
#school_sum_df

In [25]:
# add % overall passing per school
cond5 = school_data_complete[(school_data_complete.math_score >= 70) & (school_data_complete.reading_score >= 70)]
percent_overall = cond5['school_name'].value_counts()
school_sum_df["% Overall Passing"] = round((percent_overall/school_sum_df["Student Pop."])*100, 2)

In [26]:
# School summary table (use this for later parts)
#school_sum_df

In [27]:
# Copied and complete school summary table with edited budget columns
school_summary_table = school_sum_df

In [28]:
# Copied and complete school summary table with edited budget columns
formatted_school = school_summary_table["Total Budget"].map("${:,.2f}".format)
#formatted_school

### School Summary Table

In [29]:
school_summary_table["Total Budget"] = school_summary_table["Total Budget"].map("${:,.2f}".format)
school_summary_table

,Type,Student Pop.,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",628.0,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.71,81.16,65.99,80.74,53.20
Ford High School,District,2739,"$1,763,916.00",644.0,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,1468,"$917,500.00",625.0,83.35,83.82,93.39,97.14,90.60
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.29,80.93,66.75,80.86,53.53
Holden High School,Charter,427,"$248,087.00",581.0,83.80,83.81,92.51,96.25,89.23
Huang High School,District,2917,"$1,910,635.00",655.0,76.63,81.18,65.68,81.32,53.51
Johnson High School,District,4761,"$3,094,650.00",650.0,77.07,80.97,66.06,81.22,53.54
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.84,80.74,66.37,80.22,52.99
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.36,83.73,93.87,95.85,89.89
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.42,83.85,93.27,97.31,90.95
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.27,83.99,93.87,96.54,90.58
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.68,83.96,93.33,96.61,90.33

### Top 5 Performing Schools (based on % Overall Passing)

In [30]:
#top five performing schools by % overall passing
top = school_sum_df.sort_values('% Overall Passing', ascending=False)
top_5 = top.head(5)
top_5

,Type,Student Pop.,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,"$917,500.00",625.0,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59,95.95,90.54

### Bottom 5 Performing Schools (based on % Overall Passing)

In [31]:
#the five worst-performing schools by % overall passing
worst = school_sum_df.sort_values('% Overall Passing')
worst_5 = worst.head(5)
worst_5

,Type,Student Pop.,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.71,81.16,65.99,80.74,53.20
Huang High School,District,2917,"$1,910,635.00",655.0,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,4761,"$3,094,650.00",650.0,77.07,80.97,66.06,81.22,53.54

In [32]:
# the average MATH score for students of each grade level (9th, 10th, 11th, 12th) at each school
temp = school_data_complete.groupby(['school_name','grade'])['math_score'].agg(lambda x: x.mean()).reset_index()
#temp

### Average Math Score by Grade

In [33]:
temp1 = temp.pivot_table(values='math_score', columns='grade', index='school_name')
temp1.columns.name = None
math_temp_df = pd.DataFrame(temp1, columns = ['9th', '10th', '11th', '12th'])
math_temp_df.index.name = "School Name"
math_avg_df = round(math_temp_df, 2)
math_avg_df

                         9th   10th   11th   12th
School Name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [34]:
# the average READING score for students of each grade level (9th, 10th, 11th, 12th) at each school
temp2 = school_data_complete.groupby(['school_name','grade'])['reading_score'].agg(lambda x: x.mean()).reset_index()
#temp2

### Average Reading Score by Grade

In [35]:
temp3 = temp2.pivot_table(values='reading_score', columns='grade', index='school_name')
temp3.columns.name = None
reading_temp_df = pd.DataFrame(temp3, columns = ['9th', '10th', '11th', '12th'])
reading_temp_df.index.name = "School Name"
read_avg_df = round(reading_temp_df, 2)
read_avg_df

                         9th   10th   11th   12th
School Name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [36]:
cond_budget585 = school_sum_df[(school_sum_df["Budget per Student"] <= 585)]
cond_budget630 = school_sum_df[(school_sum_df["Budget per Student"] > 585) & (school_sum_df["Budget per Student"] <= 630)]
cond_budget645 = school_sum_df[(school_sum_df["Budget per Student"] > 630) & (school_sum_df["Budget per Student"] <= 645)]
cond_budget680 = school_sum_df[(school_sum_df["Budget per Student"] > 645) & (school_sum_df["Budget per Student"] <= 680)]
budget585 = cond_budget585[["Average Math Score", "Average Reading Score", 
                   "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()
budget630 = cond_budget630[["Average Math Score", "Average Reading Score", 
                   "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()
budget645 = cond_budget645[["Average Math Score", "Average Reading Score", 
                   "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()
budget680 = cond_budget680[["Average Math Score", "Average Reading Score", 
                   "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

### Scores by School Spending

In [37]:
spending_df = pd.DataFrame({"<$585": budget585,
                           "\$585-$630": budget630,
                           "\$630-$645": budget645,
                           "\$645-$680": budget680})
spending_df = spending_df.transpose()
spending_df.index.name = "Spending Ranges (per Student)" 
#index naming should be done last otherwise there will not be distinguishment between r x c
spending_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (per Student),,,,,
<$585,83.452500,83.935000,93.460000,96.610000,90.367500
\$585-$630,81.900000,83.155000,87.132500,92.717500,81.417500
\$630-$645,78.517500,81.625000,73.485000,84.392500,62.857500
\$645-$680,76.996667,81.026667,66.163333,81.133333,53.526667

In [38]:
small_pop = school_sum_df[school_sum_df['Student Pop.']< 1000] 
medium_pop = school_sum_df[(school_sum_df['Student Pop.']>= 1000) & (school_sum_df['Student Pop.']< 2000)]
large_pop = school_sum_df[(school_sum_df['Student Pop.']>= 2000) & (school_sum_df['Student Pop.']< 5000)]
small = round(small_pop[["Average Math Score", "Average Reading Score", 
                   "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean(), 2)
medium = round(medium_pop[["Average Math Score", "Average Reading Score", 
                   "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean(), 2)
large = round(large_pop[["Average Math Score", "Average Reading Score", 
                   "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean(), 2)

### Scores by School Size

In [39]:
#"School Size": ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"],
size_df = pd.DataFrame({"Small (<1000)": small,
                       "Medium (1000-2000)": medium,
                       "Large (2000-5000)": large})
size_df = size_df.transpose()
size_df.index.name = "School Size"
size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2000),83.37,83.87,93.60,96.79,90.62
Large (2000-5000),77.74,81.34,69.96,82.77,58.28

In [40]:
charter_type = school_sum_df[school_sum_df.Type == "Charter"]
charter = round(charter_type[["Average Math Score", "Average Reading Score", 
                              "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean(), 2)
charter_type
district_type = school_sum_df[school_sum_df.Type == "District"]
district = round(district_type[["Average Math Score", "Average Reading Score", 
                   "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean(), 2)
#district

### Scores by School Type

In [41]:
district_df = pd.DataFrame({"Charter": charter, "District": district})
district_df = district_df.transpose()
district_df.index.name = "School Type"
district_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67